{% extends "frontend/layout.html" %}
{%block body%}
{% load static%}

<div id = "home">



<button id="startButton"> start</button>

<div id = "hidden" class="hidden">
<div id ="audio-box">
    <audio controls>
        <source src= "{{data.location.url}}" type="audio/wav">
    </audio>
</div>

<div id ="audio-box-2">
    <audio controls>
        <source src= "{{data.location.url}}" type="audio/wav">
    </audio>
</div>


    <iframe name="votar" style="display:none;"></iframe>
    <form action="#" method= "POST" id="selectForm" >{% csrf_token %}
        <select id="ids" name="ids" type="submit"> 
            <option id= "first"  value ="first" name="first"> </option>
            <option id= "second" value ="second" name = "second">  </option>
            <!-- <input type="hidden" id="first" name="first" value="123">
            <input type="hidden" id="second" name="second" value="123"> -->
        </select>
        <input id="sumbitbutton" type="submit" value="submit" name="choosen" >
    </form>

        
<script type="text/javascript">

</script>

</div>


<link href="{% static 'frontend/testView.css' %}" rel="stylesheet" type="text/css" />
<script src="{%static 'frontend/jquery.js' %}" type="text/javascript"></script>
<script src="{%static 'frontend/main.js' %}" type="text/javascript"></script>


</div>
{% endblock %}