
@font-face {
    font-family: "vcr";
    src: url("../fonts/VCR_OSD_MONO_1.ttf");
    }

div {
    position: relative;
    animation: titleAnimation 0.5s ease-out forwards;
}

a:hover {
    color: rgb(179, 179, 179);
    background-color: rgb(198, 218, 231);
    box-shadow: 0px 5px 15px rgb(198, 218, 231);
    transition: all 0.25s ease-in;
  }

html, body
{
    background-color: rgb(198, 218, 231);
    font-family: "vcr";
    font-size: 2vw;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0px;
    background-color: black;
    position: fixed;
    color: white;
    font-size: 4vw;
    text-shadow: 0.1vw 0.1vh red, 0.15vw 0.15vh blue;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 9999;
}

.videPlayer
{
    position: fixed;
    width: 5%;
    height: auto;
}

.vertical-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.voteBox
{
    /* background-color: black; */
    width: 100%;
    min-height: 100vh;
}

.voteElements
{
    position: relative; 
    transform: translateY(50%);
}

.voteButton
{
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color:white;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    z-index: 100;
}

.voteButton:disabled {
    background-color: grey; 
}

.downloadLink {
    position: absolute;
    margin-top: 20%;
    right:30%;
    background: none;
    border: 0px;
}

.downloadLink:hover {
    opacity: 50%;
    transition: 1s ease-out;
}

.voteButton:hover
{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.2s ease-in;
}

@keyframes titleAnimation
{
    from {top:-10%; opacity: 0;}
    to {top:0%; opacity: 1;}
}